{{#if user}}
<p class="text-info">This is one og the movie your hero participate in tab, {{user.email}}</p>
<table class="table text-white letter-edges">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Movie title</td>
      <td>{{movies.title}}</td>
    </tr>
    <tr>
      <td>Movie`s number</td>
      <td>{{movies.episode_id}}</td>
    </tr>
    <tr>
      <td>Director</td>
      <td>{{movies.director}}</td>
    </tr>
    <tr>
      <td>Producer</td>
      <td>{{movies.producer}}</td>
    </tr>
     <tr>
      <td>Release date</td>
      <td>{{movies.release_date}}</td>
    </tr>
  </tbody>
</table>

{{/if}}