{{#if user}}
<p class="text-info">This is your hero tab, {{user.email}}</p>
<table class="table text-white letter-edges">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hero name</td>
      <td>{{hero.name}}</td>
    </tr>
    <tr>
      <td>Species</td>
      {{#if speciesId}}
      <td><a href="/species/{{speciesId}}">{{speciesName}}</a></td>
       {{else}}
      <td class="text-warning">This hero has no species, feeling sorry for him!</td>
       {{/if}}
    </tr>
    {{!-- <tr>
      <td>Vehicle</td>
      {{#if hero.vehicles}}
      <td>
      {{#each hero.vehicles}}
      {{this}}
      {{/each}}
      </td>
      {{else}}
      <td class="text-danger">This hero has no vehicle, feeling sorry for him!</td>
      {{/if}}
    </tr> --}}
    <tr>
      <td>Starships</td>
      <td>
        {{#each dataStarships}}
        <a href="/starships/{{shortUrl this.url}}" class="text-white">{{this.model}}</a>
        {{/each}}
      </td>
    </tr>
    <tr>
      <td>Planets</td>
      <td><a href="/planet/{{shortUrl2 planetName.url}}" class="text-white">{{planetName.name}}</a> </td>
    </tr>
    <tr>
      <td>Movies</td>
      <td>
        {{#each dataMovie}}
        <a href="/movies/{{this.episode_id}}" class="text-white">{{this.title}}</a>
        {{/each}}

      </td>
    </tr>
  </tbody>
</table>

{{/if}}