{{#if user}}
<p class="text-info">This is a species of your hero tab, {{user.email}}</p>
<table class="table text-white letter-edges">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Species name</td>
      <td>{{species.name}}</td>
    </tr>
    <tr>
      <td>Species classification</td>
      <td>{{species.classification}}</td>
    </tr>
    <tr>
      <td>Species designation</td>
      <td>{{species.designation}}</td>
    </tr>
    <tr>
      <td>Average height</td>
      <td>{{species.average_height}}</td>
    </tr>
     <tr>
      <td>Language</td>
      <td>{{species.language}}</td>
    </tr>
    
  </tbody>
</table>

{{/if}}